{% extends 'template.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block main %}
    <h2>Les sujets ouverts</h2>
    {# On affiche le flash message venant de ForumController/newSubject() #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# on recupere les  subjects en bdd pour les afficher ici #}
    {% for subject in subjects %}

        <div class="card my-3">
            <div class="card-header">
                sujet
            </div>
            <div class="card-body">
            <h5 class="card-title"> {{ subject.title }}</h5>
            <p class="card-text">{{ subject.content }}</p>
            <a href="{{ path("subject" , {id:subject.id})}}" class="btn btn-dark">Voir</a>
            </div>
        </div>
   
    {% endfor  %}
{% endblock %}
